:root {
  font-family: verdana,helvetica,sans-serif;
  font-size: 16px;
}
h1 {
  text-align: center;
}

section {
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}

.favourite {
  color: green;
}

.info {
  font-size: 0.75em;
}
